<html>
<head>
  <title> Math Game</title>
  <style>
   body {
     background: #AA0501;
     color: white;
     font-family: sans-serif;
     text-align: center;
   }
   
   a {
     color: white;
   }
   </style>
</head>
  <body>
    <%= yield %>
  </body>
</html>
    